* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../Fonts/Roboto-Bold.ttf");
}

html {
  background-color: #292b36;
  font-family: "Roboto";
}

.app-nav {
  width: 100vw;
  height: 30px;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  background-color: #2f3241;
  -webkit-app-region: drag;
}

.app-main {
  text-align: center;
  height: 85vh;
  color: #8dd5e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header {
  text-align: center;
  margin-top: 50px;
  color: #8dd5e6;
}

.app-btn {
  width: 300px;
  height: 50px;
  font-size: 2em;
  background-color: #2f3241;
  border: 0;
  transition-property: transform, box-shadow, margin-top;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  color: #8dd5e6;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
}

.app-btn:hover {
  -webkit-font-smoothing: subpixel-antialiased;

  transform: scale(1.1);
  box-shadow: 0px 0px 7px #8dd5e6;
}

.app-btn:active {
  transform: scale(1);
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  width: 100px;
  -webkit-app-region: no-drag;
}

.nav-btn {
  text-align: center;
  padding: 3px;
  border: 0;
  color: #74b1be;
  background-color: #2f3241;
  transition-property: color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  -webkit-app-region: no-drag;
  width: 40px;
}

.nav-btn:hover {
  background-color: #484c5e;
}

.nav-btn.btn-close:hover {
  background-color: tomato;
  color: black;
}
